@model IEnumerable<SimpleRegApp.Models.Events>

@{
    ViewData["Title"] = "UserIndex";
}

<h1>Events</h1>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<form asp-controller="Events" asp-action="UserIndex" method="get"   >
    <div  class="form-control" style=" display:flex; justify-content:center; background-color:darkorchid">
        <input type="text" name="searchString" style="margin-right: 20px; border-radius: 20px; width: 500px" />
       <button type="submit" class="btn btn-dark ">Search</button>
   </div>
</form>
<br />
<br />
<br />

<div style="display:flex;flex-direction:row; flex-wrap:wrap">
@foreach (var item in Model)
            {


        <div class="card bg-dark text-white shadow border-light" style="height: 300px; width: 280px; overflow: hidden; margin:30px">
                        <div class="card-body p-3 d-flex flex-row justify-content-between">
                            <div>
                                <h6 class="card-title text-white mb-2">@item.EventName</h6>
                           
                    <p class="small mb-1">Description: <strong>@item.Description</strong></p>
                    <p class="small mb-1">Date and time: <strong>@item.Date</strong></p>
                    <p class="small mb-1">Event Type: <strong>@item.Type</strong></p>
                    </div>

                  
                   
                </div>
            <form asp-controller="Events" asp-action="EventRegistration" asp-route-id="@item.EventId" method="post" style="display:flex;justify-content:center; padding:30px ">
                <button type="submit" class="btn btn-outline-info" style="font-size:14px">Register</button>
            </form>
            </div>
        
        
}
</div>
